aiohttp==3.8.1
aiosignal==1.2.0
AllanTools==2019.9
appdirs==1.4.4
apptools==5.1.0
async-timeout==4.0.2
attrs==21.4.0
black==22.1.0
bleach==4.1.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.11
click==8.0.3
colorama==0.4.4
configobj==5.0.6
cryptography==36.0.1
cycler==0.11.0
Cython==0.29.27
decorator==5.1.1
docutils==0.18.1
envisage==6.0.1
fonttools==4.29.1
frozenlist==1.3.0
idna==3.3
importlib-metadata==4.10.1
importlib-resources==5.4.0
jeepney==0.7.1
Jinja2==3.0.3
joblib==1.1.0
keyring==23.5.0
kiwisolver==1.3.2
MarkupSafe==2.1.1
matplotlib==3.5.1
mayavi==4.7.4
mne==1.0.0
multidict==6.0.2
mypy-extensions==0.4.3
networkx==2.6.3
nibabel==3.2.1
nilearn==0.8.1
nitime==0.9
numpy==1.22.1
packaging==21.3
pandas==1.4.0
pathspec==0.9.0
Pillow==9.0.0
pkginfo==1.8.2
platformdirs==2.4.1
pooch==1.6.0
pycparser==2.21
pyface==7.4.1
Pygments==2.11.2
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
readme-renderer==32.0
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
SecretStorage==3.3.1
six==1.16.0
sklearn==0.0
threadpoolctl==3.1.0
tomli==2.0.0
tqdm==4.62.3
traits==6.3.2
traitsui==7.3.1
twine==3.7.1
typing_extensions==4.0.1
urllib3==1.26.8
vtk==9.1.0
webencodings==0.5.1
wslink==1.4.3
yarl==1.7.2
zipp==3.7.0
